extends layout 

block content 
    h1= title
    div.container-fluid
        - let dest1 = `dispatch(\"/tennis/create")`
        button.btn( class="btn-success ml-1", onclick = dest1) Create
        div.row
            each item, index in result
                -let dest2 = `dispatch(\"/tennis/delete?id=${item._id}\")`
                - let dest3 = `dispatch(\"/tennis/detail?id=${item._id}\")`
                - let destination = `dispatch(\"/tennis/update?id=${item._id}\")`
                div.col-sm-2(onclick=`buy(${index})`) #{item["Player_Name"]}, #{item["Player_Age"]}, #{item["No_Of_Matches_Played"]}
                    br
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
                    br
                    button.btn( class="btn-warning ml-1", onclick= dest2) Delete
                    br
                    button.btn( class="btn-secondary ml-1", onclick= dest3) Details

    script. 
        function dispatch(path) {
            window.location.href=path
        }