extends layout 

block content 
    h1= title
    div.container-fluid
        div.row
            each item, index in result
                div.col-sm-2(onclick=`buy(${index})`) #{item["Player_Name"]}, #{item["Player_Age"]}, #{item["No_Of_Matches_Played"]}
        

    script. 
        function buy(index) {
            alert("You purchased item " + index);
        }